Django==1.5.8
MDP==3.3
Scrapy==0.22.0
South==0.8.4
Twisted==13.2.0
cssselect==0.9.1
django-crispy-forms==1.4.0
lxml==3.2.5
numpy==1.8.0
progressbar==2.3
psycopg2==2.5.2
pyOpenSSL==0.13.1
python-dateutil==2.2
pytz==2013.9
queuelib==1.1.1
selenium==2.39.0
six==1.5.2
tabulate==0.7.1
w3lib==1.5
zope.interface==4.0.5
django-widget-tweaks==1.3
