pip==6.0.7

#$ sudo yum install pandoc
pypandoc>=0.9.6
wsgiref==0.1.2
future==0.14.3
six==1.9.0

Django==1.8b2
django-extensions==1.4.9
# ipython needs ZeroMQ
pyzmq==14.5.0
Unidecode==0.4.16
cffi==0.8.6
chardet==2.3.0
# handy Django settings.py tool by heroku
dj-database-url==0.3.0

gitapi>=1.0.1

# run_gunicorn locally needs dj_static.Cling (Heroku reocommends as well)
static3==0.5.1
dj-static==0.0.6

# heroku's django tools
django-toolbelt==0.0.1

# Fabric deployment to AWS  
boto==2.35.2
pycrypto==2.6.1
ssh==1.8.0
Fabric==1.10.1

# storages module for accessing AWS S3 storage:
django-storages==1.1.8

fuzzywuzzy==0.5.0
gunicorn==19.1.1

Scrapy==0.22.2
jsonfield==1.0.0

progressbar2==2.7.3
# psycopg2==2.5.4

pyOpenSSL==0.14
python-slugify==0.1.0

pytz==2014.10
python-dateutil>=2.4.1

-e git+git@github.com:hobson/pybrain.git@master#egg=pybrain-master

sqlparse==0.1.14
tabulate==0.7.1
w3lib==1.11.0
zope.interface==4.1.2
xlrd==0.9.3

pandas>=0.15.2

pug-nlp>=0.0.17
pug-ann>=0.0.17
pug-invest>=0.0.17
# pug-dj>=0.0.12
