/* d3 bar plot based on Bostock's http://bl.ocks.org/3943967/ */

svg {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 960px; /* d3 bar plot expects this */
}

/*text {
  font: 10px sans-serif;
}*/


pre {
  width: 940px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

form {
  position: relative;
  left: 800px;
  top: 10px;
}


