{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}

{% block content %}

<OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,28;" WIDTH=903 HEIGHT=663><PARAM NAME=movie VALUE="big-data-charts-demo-cropped.swf"> <PARAM NAME=quality VALUE=high> <PARAM NAME=bgcolor VALUE="#FFFFFF"><param name="allowFullScreen" value="false" ><EMBED src="{% static 'call_center/video/big-data-charts-demo-cropped.swf' %} " allowfullscreen="false" quality=high bgcolor="#FFFFFF"  WIDTH=903 HEIGHT=663 TYPE="application/x-shockwave-flash" PLUGINSPAGE="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"></EMBED></OBJECT>

{% endblock %}