html { min-width: 1000px; }

a { color: #57A; }

.hobsonic body {
  background: #f7fff0;
  color: #430;
  font-family: "Lato", sans-serif;
  margin: 1em auto 4em auto;
  position: relative;
  width: 950px;
}

svg { font: 9px sans-serif; }

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.background { fill: #eee; }

line { stroke: #fff; }

text.active { fill: red; font-size: 13px; font-weight: 900; letter-spacing: -.05em;}

.hobsonic aside, .miner h1 { font-family: "Lato", sans-serif; }

.hobsonic h1 { color: #430;  }

h1 {
  font-size: 48px;
  letter-spacing: -1px;
  margin: .3em 0 .1em 0;
  text-rendering: optimizeLegibility;
}

body > p, li > p { line-height: 1.4em; }

body > p { width: 700px; }

circle.node {
  cursor: pointer;
  stroke: #000;
  stroke-width: .5px;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

