{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load static %}


{% block extra_head %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.js"></script>
    <!-- <link rel="stylesheet" href="{% static "css/line-plot.css" %}"> -->
    <link rel="stylesheet" href="{% static "css/bar-plot.css" %}">
    <link rel="stylesheet" href="{% static "css/block.css" %}">
{% endblock %}

{% block content %}

    {% block plot %}
        <div class="row">
            <H1>Bostock's <a href="http://bost.ocks.org/mike/bar/3/">Bar Chart Tutorial, Part III</a></H1>
            <div id="plot_container" class="graph">
                <svg class="chart"></svg>
            </div>
            <div id="plot_container_1" class="graph"></div>
        </div>
        <script src="{% static "js/plot-util.d3.js" %}"></script>
        <script src="{% static "js/line-plot.d3.js" %}"></script>
        <script src="{% static "js/bar-plot.d3.js" %}"></script>
        <script src="{% static "js/bar-block.d3.js" %}"></script>
        <script> bar_plot({{ data.d3data|safe }}, {"xlabel": "{{ data.xlabel|escapejs }}", "ylabel": "{{ data.ylabel|escapejs }}", "plot_container_id": "plot_container"}); </script>

</script>
{% endblock plot %}
{% endblock content %}





 

