{% extends 'miner/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load static %}

{% block extra_head %}
    <script src="{% static "d3/d3.min.js" %}"></script>
    {#  <script src="{% static "d3-tip/index.js" %}"></script> #}
    <link rel="stylesheet" href="{% static "miner/css/line-plot.css" %}">
{% endblock %}

{% block content %}

    {% include "case/bootstrap_case_form.html" %}

    <div class="row">
      <div id="plot_container" class="graph"></div>
    </div>

    {% block plot %}

        <script src="{% static "miner/js/plot-util.d3.js" %}"></script>
        <script src="{% static "miner/js/line-plot.d3.js" %}"></script>
        <script> line_plot({{ data.d3data|safe }}, "{{ data.xlabel|escapejs }}", "{{ data.ylabel|escapejs }}"); </script>

    {% endblock plot %}
    {# endblock graph #}


{% endblock %}



 

