{% extends 'miner/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load static %}

{% block extra_head %}
    <script src="{% static "d3/d3.min.js" %}"></script>
    <script src="{% static "miner/js/line-plot.js" %}"></script>
    {# <script src="{% static "d3-tip/index.js" %}"></script> #}
    <link rel="stylesheet" href="{% static "miner/css/hist.css" %}">
{% endblock %}

{% block content %}

    {% include "case/bootstrap_case_form.html" %}


    {% include "miner/line_plot.d3.html" %}
    <script>
      var d3data = {{ data.d3data|safe }};
      line_plot(d3data);
    </script>

{% endblock %}



 

