{% extends 'miner/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load static %}

{% block extra_head %}
    <script src="{% static "d3/d3.min.js" %}"></script>
    <script src="{% static "miner/js/line-plot.js" %}"></script>
    {# <script src="{% static "d3-tip/index.js" %}"></script> #}
    <link rel="stylesheet" href="{% static "miner/css/hist.css" %}">
{% endblock %}

{% block content %}

    {% include "case/bootstrap_case_form.html" %}

    <div class="row">
      <div id="linegraph" class="graph"></div>
    </div> 

    <script>
      var d3data = {{ data.d3data|safe }};
      line_plot(d3data, "{{ data.xlabel|escapejs }}", "{{ data.ylabel|escapejs }}");
    </script>

{% endblock %}



 

