{% extends 'miner/base.html' %}
{% load staticfiles %}
{% load url from future %}

{% block content %}
    <h3>Welcome</h3>
    <p>This <a href="demo.html" >demo video</a> will help you get started.</p>
    {% comment %}
        <p>The <a href="{% url "wiki:root" %}">documentation</a> has more detail.</p>
    {% endcomment %}
    <H3>Tools</H3>
    <table>
        <tr><td>Admin Interface</td><td><a href="/admin/">/admin/</a>
        {# <tr><td>Explore and Visualize &nbsp</td><td><a href="{% url 'miner:explorer' as url  %}">{{ url }}</a></td> #}
        <tr><td>invest<a href="/invest/">/invest/</a></td>
        <tr><td>Bar Plot + Line Plot -- <a href="/dashboard/">/dashboard/</a></td>
        <tr><td>Bar Plot -- <a href="/bar/">/bar/</a></td>
        <tr><td>Line Plot -- <a href="/line/">/line/</a></td>
        <tr><td>Force-Directed Word-Document Graph -- <a href="http://hobson.github.io/pug/pug/miner/static/occurrence_force_graph.html">hobson.github.io/pug/...</a></td>
        <tr><td>Mike Bostock's Bar Plot Tutorial -- <a href="/block/">/block/</a></td>
 {#        <li><a href="web_crawlers.html">Web Crawlers</a></li> #}
    </table>


{% endblock %}