{% extends 'miner/base.html' %}
{% load nvd3_tags %}
{% load crispy_forms_tags %}

{% block extra_head %}
    {% include_chart_jscss %}
    {% load_chart data.charttype data.chartdata data.chartcontainer data.extra %}
{% endblock %}

{% block content %}
    {% crispy form %}
    <H3>{{ data.title|safe }}</H3>
    <H4>{{ data.subtitle|safe }}</H4>
    {% include_container data.chartcontainer 400 '100%' %}
    <script type="text/javascript">
    d3.select("#{{ data.chartcontainer }} svg").selectAll(".nv-path-36").style("pointer-events", "all").on("click", function( e ) { console.log( JSON.stringify( e ) ); });
    </script>
{% endblock %}

 

