{# extends 'miner/base.html' #}
{% block topbar %}
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="navbar-inner">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-left">
        <li><a class="navbar-brand" href="/">{% block brand_name %}{{ SITE_NAME }}{% endblock %}</a></li>
        <!-- Collect the nav links, forms, and other content for toggling/collapsing -->
        {# <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> #}
        {# <li class="active"><a href="#">Link</a></li> #}
        {# <li><a href="#">Link</a></li> #}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% block navbar_menu_list_items %}
            <li><a href="#">Admin</a></li>
            <li><a href="#">REST API</a></li>
            <li class="divider"></li>
            <li><a href="#">Lag</a></li>
            <li><a href="#">Timeline</a></li>
            {% endblock navbar_menu_list_items %}
          </ul>
        </li>
      </ul>  <!-- navbar-left -->
      <ul class="nav navbar-nav navbar-right">
        {# <li><a href="#">Link</a></li> #}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if username %}{{ username }}{% else %}Account{% endif %} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% if is_logged_in %}
            <li><a href="#">Profile</a></li>
            <li class="divider"></li>
            <li><a href="#">Logout</a></li>
             {% else %}
            <li><a href="#">Sign In</a></li>
            <li class="divider"></li>
            <li><a href="#">Create Account</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>  <!-- navbar-right -->
      {# </div><!-- .navbar-collapse --> #}
    </div><!-- .container-fluid -->
  </div><!-- .navbar-inner"> -->
</nav>
{% endblock topbar %}
