{% extends "call_center/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}


{% block title_base %}{% if SITE_NAME %}{{ SITE_NAME }} | {% endif %}{% block title %}{% trans 'DB Explorer' %}{% endblock %}{% endblock %}

{% block topbar %}
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="navbar-inner">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-left">
        <li>{% block brand_outer %}{% endblock %}<a class="navbar-brand" href="/">{% block brand_name %}{{ SITE_NAME }}{% endblock %}</a></li>
        <!-- Collect the nav links, forms, and other content for toggling/collapsing -->
        {# <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> #}
        {# <li class="active"><a href="#">Link</a></li> #}
        {# <li><a href="#">Link</a></li> #}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% block navbar_menu_list_items %}
            <li><a href="/admin">Admin</a></li>
            <li><a href="/sec_sharp_refurb/Refrefurb">REST API</a></li>
            <li class="divider"></li>
            <li><a href="/miner/lag/?model=LC6&fiscal_years=2012&fiscal_years=2013&submit=Submit">Lag</a></li>
            <li><a href="/timeline/?model_number=LC60LE810U&serial_number=005823345">Timeline</a></li>
            {% endblock navbar_menu_list_items %}
          </ul>
        </li>
      </ul>  <!-- navbar-left -->
      <ul class="nav navbar-nav navbar-right">
        {# <li><a href="#">Link</a></li> #}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if username %}{{ username }}{% else %}Account{% endif %} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% if is_logged_in %}
            <li><a href="#">Profile</a></li>
            <li class="divider"></li>
            <li><a href="#">Logout</a></li>
             {% else %}
            <li><a href="#">Sign In</a></li>
            <li class="divider"></li>
            <li><a href="#">Create Account</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>  <!-- navbar-right -->
      {# </div><!-- .navbar-collapse --> #}
    </div><!-- .container-fluid -->
  </div><!-- .navbar-inner"> -->
</nav>
{% endblock %}

{% block content %}Nothing to see here (at call_center/base_site.html)... Keep moving right along.{% endblock %}

{% block footer %}
    <div class="span6">
        <p>A product of the <a href="http://bigdata.enet.sharplabs.com/wiki">Sharp Big Data project</a></p>
    </div>
    <div class="span6" style="text-align:right">
        <p>&copy; <a href="http://www.sharplabs.com/">Sharp Labs 2013-2014</a> and powered by <a href='{% static "LICENSE" %}'>Open Source!</a>
        </p>
    </div>
{% endblock %}
