{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}

{% block content %}
    <h3>Welcome</h3>
    <p>This <a href="demo.html" >demo video</a> will help you get started.</p>
    {% comment %}
        <p>The <a href="{% url "wiki:root" %}">documentation</a> has more detail.</p>
    {% endcomment %}
    <H3>Tools</H3>
    <table>
        <tr><td>Admin Interface</td><td><a href="{% url "admin:index" as url %}">{{ url }}</a>
        <tr><td>Explore and Visualize &nbsp</td><td><a href="{% url 'miner:explorer' as url  %}">{{ url }}</a></td>
        <tr><td>Lag Plot</td><td><a href="{% url 'miner:lag' as url  %}">{{ url }}</a></td>
 {#        <li><a href="web_crawlers.html">Web Crawlers</a></li> #}
    </table>


{% endblock %}